<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
        <string>WPI Lemurs</string>
        <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.lemurs.bluetooth.scan</string>
		<string>com.lemurs.lemurs_app.healthSync</string>
		<string>com.lemurs.lemurs_app.screentimeCollection</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>msauth.com.lemurs.iOS.v1</string>
            </array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>bluetooth-central</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.microsoft.adalcache</string>
	</array>
</dict>
</plist>
